nav{
justify-content: space-evenly;
    display: flex;
    padding:  30px 0;
    align-items: center;
    border-bottom: 2px solid #f3f3f3;
}

.nav-container{
    margin-left: 40px;
}

.nav-container input{
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 34rem;   
}

.nav-icons{
    margin-left: 2rem;
    height: 1.3rem;
    width: 1.3rem;
}